body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.container {
    width: 600px;
    margin: 0 auto;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

rect {
    stroke: #2980b9;
    stroke-width: 2px;
    fill: #3498db; 
}

line {
    stroke: #27ae60;
}

textarea {
    width: 100%
}

.hidden {
    display: none;
}

svg {
    margin-top: 20px;
    width: 100%;
}