body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
  margin-bottom: 50px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    color: #34495e
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

rect {
    stroke: #9b59b6;
    stroke-width: 2px;
    fill: white; 
}

line {
    stroke: #9b59b6;
}

textarea {
    width: 100%
}

.hidden {
    display: none;
}

.not-yet {
    opacity: .2;
}

svg {
    margin-top: 20px;
    width: 100%;
}

button.form-control, button.form-control:active, button.form-control:focus {
    outline: none;
    display: inline-block;
    margin-left: 35px;
    width: 150px;
    border: 1px solid #8e44ad;
    color: #8e44ad;
    background: white;
}

button.form-control:hover {
    background-color: #8e44ad;
    color: white;
}

input.form-control {
    width: 80px;
    display: inline-block;
    border: 1px solid #9b59b6;
    margin-left: 35px
}

select.form-control {
    display:inline-block;
    border: 1px solid #9b59b6;
    width: 200px;
    margin-left: 35px;
}

select.inline.form-control, .form-control option{
    width: auto;
    padding: 3px 4px;
}

select.inline.form-control.no-left {
    /* hacks hacks hacks hacks */
    margin-left: 0;
}

textarea {
    border: 1px solid #9b59b6;
    margin: 10px 0;
}

.separator {
    width: 100px;
    height: 2px;
    background: #9b59b6;
    margin-top: 20px;
    margin-bottom: 20px;
}

ol {
    margin-top: 20px;
    border-left: 8px solid #D4B1E3;
}

li {
    margin-top: 5px;
    font-size: 20px;
}

pre {
    margin-top: 30px;
}